@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animated Gradient Background */
body {
	background: linear-gradient(-45deg, #1e3a8a, #111827, #0d3b66, #00509d);
		background-size: 400% 400%;
		animation: gradientBG 10s ease infinite;
}

/* Animation Keyframes */
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}

				50% {
					background-position: 100% 50%;
				}
		
				100% {
					background-position: 0% 50%;
				}
				}